src/alphafold/model/tf/__pycache__
src/alphafold/model/geometry/__pycache__
src/alphafold/model/__pycache__
src/alphafold/data/tools/__pycache__
src/alphafold/data/__pycache__
src/alphafold/common/__pycache__
src/alphafold/__pycache__/
data/params
data/T1123/*.pdb
data/T1123/metrics_0.0001_20.csv
.DS_Store
